*{
    padding: 0;
    margin: 0;
}
#box{
    width: 100%;

}
.col-md-1{
    border: 1px solid blue;
    background: darkgreen;
}
.col-md-6{
    border: 1px solid gold;
    background: darkmagenta;
}
.col-md-4{
    border: 1px solid darkolivegreen;
    background: darkcyan;
}
.col-md-8{
    border: 1px solid #00B7FF;
    background:fuchsia;
}







